/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Geist+Mono:wght@100..900&family=Inter+Tight:ital,wght@0,100..900;1,100..900&display=swap');

/* CSS */
:root {
  --primaryFont: "Inter Tight", sans-serif;
  --secondaryFont: "Geist Mono", monospace;
  --primaryColor: #0c0c0f;
  --secondColor: whitesmoke;
  --bgLineColor:  rgb(30, 30, 30);
  --thirdColor: #7b7b7b;
  --borderHoverC: rgba(255, 255, 255, 0.81);
  --borderC: rgba(255, 255, 255, 0.5);
}

    *,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

::selection {
  background: greenyellow;
  color: var(--primaryColor);
}
::-moz-selection {
  background: greenyellow;
  color: var(--primaryColor);
}

html {
  font-size: 16px;
  scroll-behavior: smooth;
}

body {
  font-family: system-ui, -apple-system, sans-serif;
  padding: 0;
  margin: 0;
  line-height: 1.5;
  height: 100vh;
  width: 100%;
  color: whitesmoke;
  font-family: var(--primaryFont);
  background-color: #000000;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='4' height='4' viewBox='0 0 4 4'%3E%3Cpath fill='%23818181' fill-opacity='0.31' d='M1 3h1v1H1V3zm2-2h1v1H3V1z'%3E%3C/path%3E%3C/svg%3E");
}

.bodyEl {
  padding: 0;
}

a {
  color: inherit
}

#root {
  min-height: 100vh;
}

.headerEl {
  width: 100%;
  position: relative;
}

.header {
  max-width: 680px;
  margin: auto;
  padding: 15px;
  display: flex;
  justify-content: space-between;
}

.mainMenus {
  display: flex;
  justify-content: space-between;
  width: 100%;
  max-width: 680px;
  margin: auto;
  font-family: var(--secondaryFont);
  padding: 5px 15px;
}

.mainMenus .menu a{
  text-decoration: none;
}

.mainMenus .menu {
  border-bottom: solid 1px var(--borderC);
  opacity: .5;
}

.mainMenus .menu:hover {
  border-bottom: solid 1px white;
  opacity: 1;
}

.firstHeaderT{
  font-size: 1.6em;
  font-weight: 700;
  line-height: 1;
  position: relative;
  cursor: pointer;
}

.sectext {
  font-size: .9em;
  font-weight: 500;
  color: var(--thirdColor)
}

.secondHeaderT {
  font-size: .9em;
}

.overFlow {
  overflow: hidden;
}

.socilWrapper a div {
  display: inline-block;
  padding: 0 .1em;
  opacity: .7;
}

.socilWrapper a div:hover {
  color: white;
  transition: .6s cubic-bezier(0.075, 0.82, 0.165, 1);
  opacity: 1;
}

.socilWrapper {
  margin: .5em 0 0 0;
}

.footerWrapper {
  display: flex;
  justify-content: space-between;
  font-size: .7em;
  width: 100%;
  margin: 0 auto;
  max-width: 650px;
  opacity: .5;
  padding: 20px 0 0 0;
}

.sectionWrapper {
  max-width: 678px;
  width: 100%;
  margin: 0 auto 0 auto;
  padding: 0 15px;
}

.grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;
}

.grid .cardBody img {
  width: 60%;
  margin: 0 0 1em 0;
}

.sectionWrapper h5 {
  text-transform: capitalize;
  color: var(--thirdColor);
  font-weight: 500;
  padding: 1em 0;
  font-size: .9em;
}

.cardBody {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: .1em;
  border: solid 1px var(--borderC);
  transition: .2s ease-in-out;
}

.cardBody:hover h4 {
  opacity: 1;
}

.cardBody:hover h6 {
  opacity: 1;
}

.cardBody .image {
  height: 180px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.cardBody .image img {
  width: 100%;
  object-fit: cover;
}

.cardBody h4 {
  font-weight: 500;
  font-family: var(--secondaryFont);
  font-size: .8em;
}

.cardBody h6 {
  font-weight: 300;
  opacity: .4;
  font-size: .5em;
  font-family: var(--secondaryFont);
}

.cardLow {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1em;
  width: 100%;
}

.img-group-container {
  height: 400vh;
  position: relative;
}

.img-group-container .di {
  position: sticky;
  top: 20vh;
  left: 0;
  overflow: hidden;
  height: 100vh;
}

ul.img-group {
  display: flex;
}

ul li {
  list-style: none;
  padding-left: 0;
}

.img-container video {
  width: 200px;
}

.img-container {
  background-color: var(--thirdColor);
  border-radius: .1em;
  margin-right: 1em;
  height: 100px;
}

.img-gradient {
  position: sticky;
  top: -300%;
  z-index: 1;        
  pointer-events: none;
  border-radius: 100px;
  width: 190px;
}

.img-gradient a {
  text-decoration:none;
  font-size: 1em;
  text-transform: uppercase;
  font-weight: 700;
  color: var(--primaryColor);
  display: flex;
  align-items: center;
  background-color: greenyellow;
  padding: .5em;
  border-radius: .1em;
}

.workedWith {
  opacity: .7;
  text-transform: capitalize;
  margin: 0 1em 0 0;
  display: inline-block;
}

.flex {
  display: flex;
}

#worked {
  margin-top: -300px;
}

.postDate {
  opacity: 0.5;
  margin-bottom: 1.5em;
  display: block;
}

.blogpost-container {
  max-width: 678px;
  width: 100%;
  margin: 0 auto 1.5em auto;
  padding: 20px;
}

.blogs{
  border: 1px solid var(--borderC);
}

.blogs {
  border-radius: .1em;
  overflow: hidden;
}

.blogs a {
  padding: 1em;
  border-bottom: solid rgba(255, 255, 255, 0.115) 1px;
  display: block;
  transition: .1s ease-in-out;
  text-decoration: none;
}

.blogs a:hover {
  background: var(--hoverColor);
}

.blogs a:last-child {
  padding: 1em;
  border-bottom: none;
  display: block;
}

.postTitle {
  font-family: var(--secondaryFont);
  word-spacing: -.1em;
}

.sectionWrapper a {
  text-decoration: none;
}

.blogpost-container h2 {
  margin-top: 1em;
}

.blogpost-container span.highlight {
  background-color: greenyellow;
  color: black;
}

.postBody {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: var(--secondaryFont);
}

.postBody .other {
  font-size: .5em;
  opacity: .5;
}

.postBody:hover .other {
  opacity: 1;
}

.postBody .title {
  font-size: .9em;
  letter-spacing: -.05em;
}

.container {
  max-width: 680px;
  width: 100%;
  margin: 0 auto 0 auto;
  padding: 15px;
}

@media(max-width: 786px) {

  .postBody {
    display: block;
    font-family: var(--secondaryFont);
  }
  
  .postBody .other {
    font-size: .5em;
    opacity: .5;
    margin-top: 1em;
  }
  
  .postBody:hover .other {
    opacity: 1;
  }

  .grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: .5rem;
  }
  .footerWrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: .7em;
    width: 100%;
    margin: 0 auto;
    max-width: 640px;
    opacity: .5;
    padding: 0 20px 20px 20px;
  }
  .footerWrapper div:nth-child(1) {
    padding: 0 70px 0 0;
  }
  #worked {
    margin-top: -300px;
  }  
  .img-group-container {
    height: 800vh;
    position: relative;
  }
}