*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 16px;
}

 /* * {
  border: solid black 1px
}  */

body {
  font-family: system-ui, -apple-system, sans-serif;
  line-height: 1.5;
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #ffffff;
  font-family: 'Poppins', sans-serif;
}

#root {
  min-height: 100vh;
}